html, body {
    height: 100%;
}
.grid {
  display: grid;
  height: 200px;
  width: 100%;
  grid-template-columns: 3fr 3fr 3fr;
  grid-column-gap: 20px;
  padding-bottom: 20px;
  margin: 5px;

}
.column {
  margin: 5px;
  border: 2px black solid;
  text-align:left;
  overflow: scroll;
}
.img {
  float: left;
  padding-right: 20px;
  padding-bottom: 10px;
}
.sidebar {
  border-left: 3px solid black;
  position: relative;
  bottom: 900px;
  height: 800px;
  left: 75%;
  padding-left: 50px;
 
  width: 35%;
  float: right;
  margin-left: 10px;
  display: grid;
  grid-template-rows: 3.2fr 2.5fr 3.2fr;
  grid-gap: 20px;
}
.a{
  overflow: scroll;
}
.b{
  border: rgb(130, 130, 130) solid;
  border-radius: 5px;
  overflow: scroll;
  background-color: rgb(130, 130, 130);
}
.c{
  overflow: scroll;
}
.p1 {
  height:600px;
  width: 75%;
  grid-template-columns: 80%;
  grid-template-rows: 100%;
}
.nc {
  margin: 20px 20px;
  height: 200px;
  display: grid;
  grid-template-columns: 35% 35%;
  grid-gap: 200px;

}
.nestedcolumn {
  overflow: scroll;
}.nestedcolumn2 {
  overflow: scroll;
}
 @media (max-width: 640px){
  .grid {
    grid-template-columns: 100%;
    grid-template-rows: 75% 75% 75%;
    position: relative;
    right: 10px;
  }
  .img {
    position: relative;
    top: 120px;
  }
  .p1 {
  position: relative;
  top: 120px;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  }
.nc {
  height: 100%;
  top: 5%;
  grid-template-columns: 100%;
  grid-template-rows: 75% 75%;
  grid-gap: 50px;
}
.sidebar {
  grid-template-columns: 100%;
  grid-template-rows: 75% 75% 75%;
  height: 300px;
  width: 100%;
  position: relative;
  top: 60%;
  left: 0;
  border-left: none;
  margin-bottom: 850px;
  }
}

